@import 'assets/aacwidget/scss/aacwidget-default.scss';
@import 'assets/aacwidget/scss/aacwidget-custom.scss';

.aacwidget-address-container{
  margin-right: 20px;
}

button{
  margin-top: 1em;
  margin-bottom: 1em;
  display: inherit;
}
